html, body {
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* First image */
  .parallax1 {
    background-image: url('https://images.unsplash.com/photo-1495745966610-2a67f2297e5e?fm=jpg&q=60&w=3000');
  }
  
  /* Second image */
  .parallax2 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjIg4_Ip04RUUv4DNvomzGalMuDHIlO1ohgowfNN586tDtH6SsZTxD9bRw_-UkTGghzks&usqp=CAU');
  }
  